## TiGa - ProHack Notebook

## Aproach
1. Define the target for prediction - Y (index)
2. Import Libraries
3. Import Data

### Step 1: Import Libraries

In [1]:
# for working with dataframes import pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab as pl
%matplotlib inline

from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate
from scipy.optimize import minimize

import warnings 
warnings.filterwarnings('ignore')

### Step 2: Import data

In [2]:
# train data
train_df = pd.read_csv('train.csv')

train_df.head()

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793960,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956910,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247

### Step 3: Analyze & Pre-processing Data

In [3]:
train_df.dtypes

galactic year                                                                  int64
galaxy                                                                        object
existence expectancy index                                                   float64
existence expectancy at birth                                                float64
Gross income per capita                                                      float64
                                                                              ...
Adjusted net savings                                                         float64
Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total    float64
Private galaxy capital flows (% of GGP)                                      float64
Gender Inequality Index (GII)                                                float64
y                                                                            float64
Length: 80, dtype: object

In [4]:
train_df.describe(include="all")

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
count,3.865000e+03,3865,3864.000000,3864.000000,3837.000000,3837.000000,3732.000000,3502.000000,3474.000000,3474.000000,...,916.000000,915.000000,914.000000,893.000000,892.000000,912.000000,941.000000,874.000000,844.000000,3865.000000
unique,NaN,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Andromeda XII,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.000709e+06,NaN,0.872479,76.798111,31633.240872,0.825154,14.723296,10.283959,0.804246,0.745900,...,0.823561,0.844209,1.008465,121.754797,120.873428,21.252922,6.443023,22.261474,0.600733,0.082773
std,6.945463e+03,NaN,0.162367,10.461654,18736.378446,0.194055,3.612546,3.319948,0.176242,0.199795,...,0.185780,0.159041,0.087299,46.269362,46.795666,14.258986,4.804873,34.342797,0.205785,0.063415
min,9.900250e+05,NaN,0.227890,34.244062,-126.906522,0.292001,3.799663,1.928166,0.273684,0.189874,...,0.305733,0.369519,0.465177,23.224603,16.215151,-76.741414,-1.192011,-735.186887,0.089092,0.013036
25%,9.950060e+05,NaN,0.763027,69.961449,20169.118910,0.677131,12.592467,7.654169,0.671862,0.597746,...,0.690707,0.731264,0.965800,84.090816,82.232550,15.001028,4.113472,17.227899,0.430332,0.047889
50%,1.000000e+06,NaN,0.907359,78.995101,26600.768190,0.827300,14.942913,10.385465,0.824758,0.761255,...,0.835410,0.862773,1.029947,120.069916,121.057923,22.182571,5.309497,24.472557,0.624640,0.057820
75%,1.006009e+06,NaN,0.992760,84.558971,36898.631750,0.970295,17.123797,12.884752,0.939043,0.893505,...,0.970365,0.961369,1.068481,158.579644,157.815625,29.134738,6.814577,31.748295,0.767404,0.087389
max,1.015056e+06,NaN,1.246908,100.210053,151072.683200,1.361883,26.955944,19.057648,1.232814,1.269625,...,1.237661,1.182746,1.181230,232.720847,233.915373,61.903641,36.538462,95.941245,1.098439,0.683813

#### Evaluate for missing data

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [5]:
missing_data = train_df.isnull()
missing_data.head(5)

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,True,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,True,True,False
3,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,True,False

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value, "False"  means the value is present in the dataset.  In the body of the for loop the method  ".value_counts()"  counts the number of "True" values. 
</p>

In [6]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

galactic year
False    3865
Name: galactic year, dtype: int64

galaxy
False    3865
Name: galaxy, dtype: int64

existence expectancy index
False    3864
True        1
Name: existence expectancy index, dtype: int64

existence expectancy at birth
False    3864
True        1
Name: existence expectancy at birth, dtype: int64

Gross income per capita
False    3837
True       28
Name: Gross income per capita, dtype: int64

Income Index
False    3837
True       28
Name: Income Index, dtype: int64

Expected years of education (galactic years)
False    3732
True      133
Name: Expected years of education (galactic years), dtype: int64

Mean years of education (galactic years)
False    3502
True      363
Name: Mean years of education (galactic years), dtype: int64

Intergalactic Development Index (IDI)
False    3474
True      391
Name: Intergalactic Development Index (IDI), dtype: int64

Education Index
False    3474
True      391
Name: Education Index, dtype: int64

Intergalactic Development Index (IDI), Rank
False    3432
True      433
Name: Intergalactic Development Index (IDI), Rank, dtype: int64

Population using at least basic drinking-water services (%)
False    2021
True     1844
Name: Population using at least basic drinking-water services (%), dtype: int64

Population using at least basic sanitation services (%)
False    2015
True     1850
Name: Population using at least basic sanitation services (%), dtype: int64

Gross capital formation (% of GGP)
True     2363
False    1502
Name: Gross capital formation (% of GGP), dtype: int64

Population, total (millions)
True     2594
False    1271
Name: Population, total (millions), dtype: int64

Population, urban (%)
True     2594
False    1271
Name: Population, urban (%), dtype: int64

Mortality rate, under-five (per 1,000 live births)
True     2594
False    1271
Name: Mortality rate, under-five (per 1,000 live births), dtype: int64

Mortality rate, infant (per 1,000 live births)
True     2606
False    1259
Name: Mortality rate, infant (per 1,000 live births), dtype: int64

Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))
True     2601
False    1264
Name: Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)), dtype: int64

Population, ages 15â€“64 (millions)
True     2601
False    1264
Name: Population, ages 15â€“64 (millions), dtype: int64

Population, ages 65 and older (millions)
True     2601
False    1264
Name: Population, ages 65 and older (millions), dtype: int64

Life expectancy at birth, male (galactic years)
True     2601
False    1264
Name: Life expectancy at birth, male (galactic years), dtype: int64

Life expectancy at birth, female (galactic years)
True     2601
False    1264
Name: Life expectancy at birth, female (galactic years), dtype: int64

Population, under age 5 (millions)
True     2601
False    1264
Name: Population, under age 5 (millions), dtype: int64

Young age (0-14) dependency ratio (per 100 creatures ages 15-64)
True     2601
False    1264
Name: Young age (0-14) dependency ratio (per 100 creatures ages 15-64), dtype: int64

Adolescent birth rate (births per 1,000 female creatures ages 15-19)
True     2613
False    1252
Name: Adolescent birth rate (births per 1,000 female creatures ages 15-19), dtype: int64

Total unemployment rate (female to male ratio)
True     2628
False    1237
Name: Total unemployment rate (female to male ratio), dtype: int64

Vulnerable employment (% of total employment)
True     2628
False    1237
Name: Vulnerable employment (% of total employment), dtype: int64

Unemployment, total (% of labour force)
True     2628
False    1237
Name: Unemployment, total (% of labour force), dtype: int64

Employment in agriculture (% of total employment)
True     2628
False    1237
Name: Employment in agriculture (% of total employment), dtype: int64

Labour force participation rate (% ages 15 and older)
True     2628
False    1237
Name: Labour force participation rate (% ages 15 and older), dtype: int64

Labour force participation rate (% ages 15 and older), female
True     2628
False    1237
Name: Labour force participation rate (% ages 15 and older), female, dtype: int64

Employment in services (% of total employment)
True     2628
False    1237
Name: Employment in services (% of total employment), dtype: int64

Labour force participation rate (% ages 15 and older), male
True     2628
False    1237
Name: Labour force participation rate (% ages 15 and older), male, dtype: int64

Employment to population ratio (% ages 15 and older)
True     2628
False    1237
Name: Employment to population ratio (% ages 15 and older), dtype: int64

Jungle area (% of total land area)
True     2631
False    1234
Name: Jungle area (% of total land area), dtype: int64

Share of employment in nonagriculture, female (% of total employment in nonagriculture)
True     2628
False    1237
Name: Share of employment in nonagriculture, female (% of total employment in nonagriculture), dtype: int64

Youth unemployment rate (female to male ratio)
True     2629
False    1236
Name: Youth unemployment rate (female to male ratio), dtype: int64

Unemployment, youth (% ages 15â€“24)
True     2629
False    1236
Name: Unemployment, youth (% ages 15â€“24), dtype: int64

Mortality rate, female grown up (per 1,000 people)
True     2612
False    1253
Name: Mortality rate, female grown up (per 1,000 people), dtype: int64

Mortality rate, male grown up (per 1,000 people)
True     2612
False    1253
Name: Mortality rate, male grown up (per 1,000 people), dtype: int64

Infants lacking immunization, red hot disease (% of one-galactic year-olds)
True     2646
False    1219
Name: Infants lacking immunization, red hot disease (% of one-galactic year-olds), dtype: int64

Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)
True     2646
False    1219
Name: Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds), dtype: int64

Gross galactic product (GGP) per capita
True     2663
False    1202
Name: Gross galactic product (GGP) per capita, dtype: int64

Gross galactic product (GGP), total
True     2663
False    1202
Name: Gross galactic product (GGP), total, dtype: int64

Outer Galaxies direct investment, net inflows (% of GGP)
True     2696
False    1169
Name: Outer Galaxies direct investment, net inflows (% of GGP), dtype: int64

Exports and imports (% of GGP)
True     2721
False    1144
Name: Exports and imports (% of GGP), dtype: int64

Share of seats in senate (% held by female)
True     2742
False    1123
Name: Share of seats in senate (% held by female), dtype: int64

Natural resource depletion
True     2733
False    1132
Name: Natural resource depletion, dtype: int64

Mean years of education, female (galactic years)
True     2725
False    1140
Name: Mean years of education, female (galactic years), dtype: int64

Mean years of education, male (galactic years)
True     2727
False    1138
Name: Mean years of education, male (galactic years), dtype: int64

Expected years of education, female (galactic years)
True     2756
False    1109
Name: Expected years of education, female (galactic years), dtype: int64

Expected years of education, male (galactic years)
True     2757
False    1108
Name: Expected years of education, male (galactic years), dtype: int64

Maternal mortality ratio (deaths per 100,000 live births)
True     2613
False    1252
Name: Maternal mortality ratio (deaths per 100,000 live births), dtype: int64

Renewable energy consumption (% of total final energy consumption)
True     2630
False    1235
Name: Renewable energy consumption (% of total final energy consumption), dtype: int64

Estimated gross galactic income per capita, male
True     2810
False    1055
Name: Estimated gross galactic income per capita, male, dtype: int64

Estimated gross galactic income per capita, female
True     2810
False    1055
Name: Estimated gross galactic income per capita, female, dtype: int64

Rural population with access to electricity (%)
True     2836
False    1029
Name: Rural population with access to electricity (%), dtype: int64

Domestic credit provided by financial sector (% of GGP)
True     2786
False    1079
Name: Domestic credit provided by financial sector (% of GGP), dtype: int64

Population with at least some secondary education, female (% ages 25 and older)
True     2776
False    1089
Name: Population with at least some secondary education, female (% ages 25 and older), dtype: int64

Population with at least some secondary education, male (% ages 25 and older)
True     2778
False    1087
Name: Population with at least some secondary education, male (% ages 25 and older), dtype: int64

Gross fixed capital formation (% of GGP)
True     2791
False    1074
Name: Gross fixed capital formation (% of GGP), dtype: int64

Remittances, inflows (% of GGP)
True     2837
False    1028
Name: Remittances, inflows (% of GGP), dtype: int64

Population with at least some secondary education (% ages 25 and older)
True     2814
False    1051
Name: Population with at least some secondary education (% ages 25 and older), dtype: int64

Intergalactic inbound tourists (thousands)
True     2870
False     995
Name: Intergalactic inbound tourists (thousands), dtype: int64

Gross enrolment ratio, primary (% of primary under-age population)
True     2827
False    1038
Name: Gross enrolment ratio, primary (% of primary under-age population), dtype: int64

Respiratory disease incidence (per 100,000 people)
True     2969
False     896
Name: Respiratory disease incidence (per 100,000 people), dtype: int64

Interstellar phone subscriptions (per 100 people)
True     2974
False     891
Name: Interstellar phone subscriptions (per 100 people), dtype: int64

Interstellar Data Net users, total (% of population)
True     2993
False     872
Name: Interstellar Data Net users, total (% of population), dtype: int64

Current health expenditure (% of GGP)
True     2998
False     867
Name: Current health expenditure (% of GGP), dtype: int64

Intergalactic Development Index (IDI), female
True     2949
False     916
Name: Intergalactic Development Index (IDI), female, dtype: int64

Intergalactic Development Index (IDI), male
True     2950
False     915
Name: Intergalactic Development Index (IDI), male, dtype: int64

Gender Development Index (GDI)
True     2951
False     914
Name: Gender Development Index (GDI), dtype: int64

Intergalactic Development Index (IDI), female, Rank
True     2972
False     893
Name: Intergalactic Development Index (IDI), female, Rank, dtype: int64

Intergalactic Development Index (IDI), male, Rank
True     2973
False     892
Name: Intergalactic Development Index (IDI), male, Rank, dtype: int64

Adjusted net savings
True     2953
False     912
Name: Adjusted net savings , dtype: int64

Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total
True     2924
False     941
Name: Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total, dtype: int64

Private galaxy capital flows (% of GGP)
True     2991
False     874
Name: Private galaxy capital flows (% of GGP), dtype: int64

Gender Inequality Index (GII)
True     3021
False     844
Name: Gender Inequality Index (GII), dtype: int64

y
False    3865
Name: y, dtype: int64

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>

<i> !!! Whole columns should be dropped only if most entries in the column are empty. !!! </i>

#### Dropping data
Drop data columns based on the relativity to the well-being index. The selection mostly follows the OECD approach with their index.

<b> Replace by mean</b>
<ul>
    <li> existence expectancy index
    <li> existence expectancy at birth
    <li> Gross income per capita
    <li> Income Index
    <li>
</ul>

In [7]:
# calculate the average
avg_exist_exp_i = train_df["existence expectancy index"].astype("float").mean(axis=0)
print("Average of existence expectancy index:", avg_exist_exp_i)

Average of existence expectancy index: 0.8724787211405255

In [8]:
avg_exist_exp_at_b = train_df["existence expectancy at birth"].astype("float").mean(axis=0)
print("Average of existence expectancy at birth:", avg_exist_exp_at_b)

Average of existence expectancy at birth: 76.79811068583831

In [9]:
#Gross income per capita

avg_gross_inc_pc = train_df["Gross income per capita"].astype("float").mean(axis=0)
print("Average of Gross income per capita:", avg_gross_inc_pc)

Average of Gross income per capita: 31633.240872115606

In [10]:
#Income Index

avg_income_i = train_df["Income Index"].astype("float").mean(axis=0)
print("Average of Income Index:", avg_income_i)

Average of Income Index: 0.8251535359564769

#### Replacing data by mean

In [11]:
train_df["existence expectancy index"].replace(np.nan, avg_exist_exp_i, inplace=True)

In [12]:
train_df["existence expectancy at birth"].replace(np.nan, avg_exist_exp_at_b, inplace=True)

In [13]:
#Gross income per capita
train_df["Gross income per capita"].replace(np.nan, avg_gross_inc_pc, inplace=True)

In [14]:
#Income Index
train_df["Income Index"].replace(np.nan, avg_income_i, inplace=True)

In [15]:
#check
missing_data = train_df.isnull()

print (missing_data["existence expectancy index"].value_counts())

False    3865
Name: existence expectancy index, dtype: int64

#### Drop rows

In [16]:
train1=train_df.drop(train_df.index[363:902])

In [17]:
train2=train1.drop(train1.index[543:1263])

In [18]:
train3=train2.drop(train2.index[722:1441])

In [19]:
train4=train3.drop(train3.index[902:1351])

In [20]:
# after rows dropping here is the shape of an updated dataframe

train4.shape

(1438, 80)

In [21]:
train_df.shape

(3865, 80)

In [22]:
missing_data1 = train4.isnull()

for column in missing_data1.columns.values.tolist():
    print(column)
    print (missing_data1[column].value_counts())
    print("")

galactic year
False    1438
Name: galactic year, dtype: int64

galaxy
False    1438
Name: galaxy, dtype: int64

existence expectancy index
False    1438
Name: existence expectancy index, dtype: int64

existence expectancy at birth
False    1438
Name: existence expectancy at birth, dtype: int64

Gross income per capita
False    1438
Name: Gross income per capita, dtype: int64

Income Index
False    1438
Name: Income Index, dtype: int64

Expected years of education (galactic years)
False    1396
True       42
Name: Expected years of education (galactic years), dtype: int64

Mean years of education (galactic years)
False    1328
True      110
Name: Mean years of education (galactic years), dtype: int64

Intergalactic Development Index (IDI)
False    1319
True      119
Name: Intergalactic Development Index (IDI), dtype: int64

Education Index
False    1319
True      119
Name: Education Index, dtype: int64

Intergalactic Development Index (IDI), Rank
False    1304
True      134
Name: Intergalactic Development Index (IDI), Rank, dtype: int64

Population using at least basic drinking-water services (%)
False    879
True     559
Name: Population using at least basic drinking-water services (%), dtype: int64

Population using at least basic sanitation services (%)
False    877
True     561
Name: Population using at least basic sanitation services (%), dtype: int64

Gross capital formation (% of GGP)
False    1099
True      339
Name: Gross capital formation (% of GGP), dtype: int64

Population, total (millions)
False    1253
True      185
Name: Population, total (millions), dtype: int64

Population, urban (%)
False    1253
True      185
Name: Population, urban (%), dtype: int64

Mortality rate, under-five (per 1,000 live births)
False    1253
True      185
Name: Mortality rate, under-five (per 1,000 live births), dtype: int64

Mortality rate, infant (per 1,000 live births)
False    1252
True      186
Name: Mortality rate, infant (per 1,000 live births), dtype: int64

Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))
False    1246
True      192
Name: Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)), dtype: int64

Population, ages 15â€“64 (millions)
False    1246
True      192
Name: Population, ages 15â€“64 (millions), dtype: int64

Population, ages 65 and older (millions)
False    1246
True      192
Name: Population, ages 65 and older (millions), dtype: int64

Life expectancy at birth, male (galactic years)
False    1246
True      192
Name: Life expectancy at birth, male (galactic years), dtype: int64

Life expectancy at birth, female (galactic years)
False    1246
True      192
Name: Life expectancy at birth, female (galactic years), dtype: int64

Population, under age 5 (millions)
False    1246
True      192
Name: Population, under age 5 (millions), dtype: int64

Young age (0-14) dependency ratio (per 100 creatures ages 15-64)
False    1246
True      192
Name: Young age (0-14) dependency ratio (per 100 creatures ages 15-64), dtype: int64

Adolescent birth rate (births per 1,000 female creatures ages 15-19)
False    1245
True      193
Name: Adolescent birth rate (births per 1,000 female creatures ages 15-19), dtype: int64

Total unemployment rate (female to male ratio)
False    1234
True      204
Name: Total unemployment rate (female to male ratio), dtype: int64

Vulnerable employment (% of total employment)
False    1234
True      204
Name: Vulnerable employment (% of total employment), dtype: int64

Unemployment, total (% of labour force)
False    1234
True      204
Name: Unemployment, total (% of labour force), dtype: int64

Employment in agriculture (% of total employment)
False    1234
True      204
Name: Employment in agriculture (% of total employment), dtype: int64

Labour force participation rate (% ages 15 and older)
False    1234
True      204
Name: Labour force participation rate (% ages 15 and older), dtype: int64

Labour force participation rate (% ages 15 and older), female
False    1234
True      204
Name: Labour force participation rate (% ages 15 and older), female, dtype: int64

Employment in services (% of total employment)
False    1234
True      204
Name: Employment in services (% of total employment), dtype: int64

Labour force participation rate (% ages 15 and older), male
False    1234
True      204
Name: Labour force participation rate (% ages 15 and older), male, dtype: int64

Employment to population ratio (% ages 15 and older)
False    1234
True      204
Name: Employment to population ratio (% ages 15 and older), dtype: int64

Jungle area (% of total land area)
False    1231
True      207
Name: Jungle area (% of total land area), dtype: int64

Share of employment in nonagriculture, female (% of total employment in nonagriculture)
False    1234
True      204
Name: Share of employment in nonagriculture, female (% of total employment in nonagriculture), dtype: int64

Youth unemployment rate (female to male ratio)
False    1233
True      205
Name: Youth unemployment rate (female to male ratio), dtype: int64

Unemployment, youth (% ages 15â€“24)
False    1233
True      205
Name: Unemployment, youth (% ages 15â€“24), dtype: int64

Mortality rate, female grown up (per 1,000 people)
False    1235
True      203
Name: Mortality rate, female grown up (per 1,000 people), dtype: int64

Mortality rate, male grown up (per 1,000 people)
False    1235
True      203
Name: Mortality rate, male grown up (per 1,000 people), dtype: int64

Infants lacking immunization, red hot disease (% of one-galactic year-olds)
False    1212
True      226
Name: Infants lacking immunization, red hot disease (% of one-galactic year-olds), dtype: int64

Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)
False    1212
True      226
Name: Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds), dtype: int64

Gross galactic product (GGP) per capita
False    1200
True      238
Name: Gross galactic product (GGP) per capita, dtype: int64

Gross galactic product (GGP), total
False    1200
True      238
Name: Gross galactic product (GGP), total, dtype: int64

Outer Galaxies direct investment, net inflows (% of GGP)
False    1167
True      271
Name: Outer Galaxies direct investment, net inflows (% of GGP), dtype: int64

Exports and imports (% of GGP)
False    1142
True      296
Name: Exports and imports (% of GGP), dtype: int64

Share of seats in senate (% held by female)
False    964
True     474
Name: Share of seats in senate (% held by female), dtype: int64

Natural resource depletion
False    1130
True      308
Name: Natural resource depletion, dtype: int64

Mean years of education, female (galactic years)
False    1123
True      315
Name: Mean years of education, female (galactic years), dtype: int64

Mean years of education, male (galactic years)
False    1121
True      317
Name: Mean years of education, male (galactic years), dtype: int64

Expected years of education, female (galactic years)
False    1091
True      347
Name: Expected years of education, female (galactic years), dtype: int64

Expected years of education, male (galactic years)
False    1090
True      348
Name: Expected years of education, male (galactic years), dtype: int64

Maternal mortality ratio (deaths per 100,000 live births)
False    1245
True      193
Name: Maternal mortality ratio (deaths per 100,000 live births), dtype: int64

Renewable energy consumption (% of total final energy consumption)
False    1232
True      206
Name: Renewable energy consumption (% of total final energy consumption), dtype: int64

Estimated gross galactic income per capita, male
False    1052
True      386
Name: Estimated gross galactic income per capita, male, dtype: int64

Estimated gross galactic income per capita, female
False    1052
True      386
Name: Estimated gross galactic income per capita, female, dtype: int64

Rural population with access to electricity (%)
False    1026
True      412
Name: Rural population with access to electricity (%), dtype: int64

Domestic credit provided by financial sector (% of GGP)
False    1077
True      361
Name: Domestic credit provided by financial sector (% of GGP), dtype: int64

Population with at least some secondary education, female (% ages 25 and older)
False    1072
True      366
Name: Population with at least some secondary education, female (% ages 25 and older), dtype: int64

Population with at least some secondary education, male (% ages 25 and older)
False    1070
True      368
Name: Population with at least some secondary education, male (% ages 25 and older), dtype: int64

Gross fixed capital formation (% of GGP)
False    1073
True      365
Name: Gross fixed capital formation (% of GGP), dtype: int64

Remittances, inflows (% of GGP)
False    1026
True      412
Name: Remittances, inflows (% of GGP), dtype: int64

Population with at least some secondary education (% ages 25 and older)
False    1049
True      389
Name: Population with at least some secondary education (% ages 25 and older), dtype: int64

Intergalactic inbound tourists (thousands)
False    981
True     457
Name: Intergalactic inbound tourists (thousands), dtype: int64

Gross enrolment ratio, primary (% of primary under-age population)
False    1035
True      403
Name: Gross enrolment ratio, primary (% of primary under-age population), dtype: int64

Respiratory disease incidence (per 100,000 people)
False    886
True     552
Name: Respiratory disease incidence (per 100,000 people), dtype: int64

Interstellar phone subscriptions (per 100 people)
False    881
True     557
Name: Interstellar phone subscriptions (per 100 people), dtype: int64

Interstellar Data Net users, total (% of population)
False    862
True     576
Name: Interstellar Data Net users, total (% of population), dtype: int64

Current health expenditure (% of GGP)
False    865
True     573
Name: Current health expenditure (% of GGP), dtype: int64

Intergalactic Development Index (IDI), female
False    914
True     524
Name: Intergalactic Development Index (IDI), female, dtype: int64

Intergalactic Development Index (IDI), male
False    913
True     525
Name: Intergalactic Development Index (IDI), male, dtype: int64

Gender Development Index (GDI)
False    912
True     526
Name: Gender Development Index (GDI), dtype: int64

Intergalactic Development Index (IDI), female, Rank
False    891
True     547
Name: Intergalactic Development Index (IDI), female, Rank, dtype: int64

Intergalactic Development Index (IDI), male, Rank
False    890
True     548
Name: Intergalactic Development Index (IDI), male, Rank, dtype: int64

Adjusted net savings
False    911
True     527
Name: Adjusted net savings , dtype: int64

Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total
False    924
True     514
Name: Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total, dtype: int64

Private galaxy capital flows (% of GGP)
False    874
True     564
Name: Private galaxy capital flows (% of GGP), dtype: int64

Gender Inequality Index (GII)
False    843
True     595
Name: Gender Inequality Index (GII), dtype: int64

y
False    1438
Name: y, dtype: int64

### Counting galaxies

In [23]:
train_gal=set(train4["galaxy"])
s=0
for x in train_gal:
    s=s+len(train4.loc[train4['galaxy'] == x])
print("Total distinct galaxies: {}".format(len(train_gal)))
print("Average samples per galaxy: {}".format(s/len(train_gal)))

Total distinct galaxies: 181
Average samples per galaxy: 7.94475138121547

### Methods for Cross-validating Training Data

#### Approach by Ã–mer GÃ¶zÃ¼aÃ§Ä±k

I trained a model for exery distinct galaxy in the training set (180) except the one from 126th galaxy as it has only one sample.

I used features with top x correlation with respect to y (target variable) galaxy specific. (x is found by trying different values [20,25,30,40,50,60,70])

Missing values are filled with the galaxy specific 'mean' of the data. (Median can be used alternatively.)

Train and test sets are not mixed for both imputation and standardization.

Standard Scaler is used to standardize data.

Gradient Boosted Regression is used as a model.

In [24]:
def cross_validation_loop(data,cor):
    labels= data['y']
    data=data.drop('galaxy', axis=1)    
    data=data.drop('y', axis=1)
    
    correlation=abs(data.corrwith(labels))
    columns=correlation.nlargest(cor).index
    data=data[columns]
    
    imp = SimpleImputer(missing_values=np.nan, strategy='mean').fit(data)
    data=imp.transform(data)

    scaler = StandardScaler().fit(data)
    data = scaler.transform(data)
        
    estimator = GradientBoostingRegressor(n_estimators=300)
    
    cv_results = cross_validate(estimator, data, labels, cv=4, scoring='neg_root_mean_squared_error')

    error=np.mean(cv_results['test_score'])
    
    return error

#### Code for cross-validating a model for every galaxy.

I return the mean of the cross-validation scores disregarding the differences of their sample sizes.
Remove the lonely galaxy, occuring only once.

In [25]:
train_gal=set(train4["galaxy"])
train_gal.remove("NGC 5253")
def loop_train(cor):
    errors=[]
    for gal in train_gal:
        index = train4.index[train4['galaxy'] == gal]
        data = train4.loc[index]
        errors.append(cross_validation_loop(data,cor))
    return np.mean(errors)

#### Checking which correlation threshold gives better value
The model performs best when the threshold is 20 with RMSE of 0.0063

In [26]:
cor=[20,25,30,40,50,60,70,80]
errors=[]
for x in cor: 
    errors.append(loop_train(x))

ValueError: 'neg_root_mean_squared_error' is not a valid scoring value. Use sorted(sklearn.metrics.SCORERS.keys()) to get valid options.